<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>118850770491-3pnt820a3anmbm5055s45khreluv6gj6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.118850770491-3pnt820a3anmbm5055s45khreluv6gj6</string>
	<key>API_KEY</key>
	<string>AIzaSyBtzlfgjXC3T0q8Yth7XzpAO9rGKUWiHgY</string>
	<key>GCM_SENDER_ID</key>
	<string>118850770491</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.greentill</string>
	<key>PROJECT_ID</key>
	<string>greentill-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>greentill-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:118850770491:ios:708751ee838633d8286e1e</string>
</dict>
</plist>